<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>German</key>
	<array>
		<dict>
			<key>name</key>
			<string>N24</string>
			<key>hlsURL</key>
			<string>http://n24-live.hls.adaptive.level3.net/hls-live/n24-pssimn24live/_definst_/live.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/N24_logo.svg/640px-N24_logo.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ARD</string>
			<key>hlsURL</key>
			<string>http://daserste_live-lh.akamaihd.net/i/daserste_de@91204/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/ARD_logo.svg/640px-ARD_logo.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tagesschau24</string>
			<key>hlsURL</key>
			<string>http://tagesschau-lh.akamaihd.net/i/tagesschau_1@119231/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Tagesschau24-2012.svg/640px-Tagesschau24-2012.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZDF</string>
			<key>hlsURL</key>
			<string>http://zdf1314-lh.akamaihd.net/i/de14_v1@392878/master.m3u8?dw=0</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/ZDF.svg/640px-ZDF.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>3sat</string>
			<key>hlsURL</key>
			<string>http://zdf_hds_ng-f.akamaihd.net/i/none02_v1@87014/master.m3u8?dw=0</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/3sat-Logo.svg/640px-3sat-Logo.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Arte</string>
			<key>hlsURL</key>
			<string>http://delive.artestras.cshls.lldns.net/artestras/contrib/delive.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Arte_Logo_2011.svg/640px-Arte_Logo_2011.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>KiKa</string>
			<key>hlsURL</key>
			<string>http://kika_geo-lh.akamaihd.net/i/livetvkika_de@75114/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Kika_2012.svg/640px-Kika_2012.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZDF.kultur</string>
			<key>hlsURL</key>
			<string>http://zdf_hds_de-f.akamaihd.net/i/de11_v1@87013/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Zdf.kultur_logo.svg/640px-Zdf.kultur_logo.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZDF.info</string>
			<key>hlsURL</key>
			<string>http://zdf_hds_de-f.akamaihd.net/i/de12_v1@87013/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/ZDFinfo_2011.svg/640px-ZDFinfo_2011.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZDF neo</string>
			<key>hlsURL</key>
			<string>http://zdf_hds_de-f.akamaihd.net/i/de13_v1@147090/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/ZDFneo.svg/640px-ZDFneo.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>BR alpha</string>
			<key>hlsURL</key>
			<string>http://livestreams.br.de/i/bralpha_germany@119899/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/ARD_alpha.svg/640px-ARD_alpha.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MDR</string>
			<key>hlsURL</key>
			<string>http://mdr_th_hls-lh.akamaihd.net/i/livetvmdrthueringen_de@106903/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/MDR_Dachmarke.svg/640px-MDR_Dachmarke.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RBB Berlin</string>
			<key>hlsURL</key>
			<string>http://rbb_live-lh.akamaihd.net/i/rbb_berlin@108248/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/RBB_Dachmarke.svg/640px-RBB_Dachmarke.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RBB Brandenburg</string>
			<key>hlsURL</key>
			<string>http://rbb_live-lh.akamaihd.net/i/rbb_brandenburg@107638/master.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/RBB_Dachmarke.svg/640px-RBB_Dachmarke.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF 1</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf1_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/ORFeins.svg/640px-ORFeins.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF 2</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf2_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/ORF2_logo_n.svg/640px-ORF2_logo_n.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF 3</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf3_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/ORF_III_Logo_Monochrom.svg/640px-ORF_III_Logo_Monochrom.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ANIXE</string>
			<key>hlsURL</key>
			<string>http://video1.anixehd.tv:8080/Apple/wifistream.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Anixe.svg/640px-Anixe.svg.png</string>
		</dict>
	</array>
	<key>Austria</key>
	<array>
		<dict>
			<key>name</key>
			<string>ORF 1</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf1_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/ORFeins.svg/640px-ORFeins.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF 2</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf2_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/ORF2_logo_n.svg/640px-ORF2_logo_n.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ORF 3</string>
			<key>hlsURL</key>
			<string>http://apasfiisl.apa.at/ipad/orf3_q4a/orf.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/ORF_III_Logo_Monochrom.svg/640px-ORF_III_Logo_Monochrom.svg.png</string>
		</dict>
	</array>
	<key>USA</key>
	<array>
		<dict>
			<key>name</key>
			<string>NFL</string>
			<key>hlsURL</key>
			<string>http://nflsvglagame1-i.akamaihd.net/hls/live/223206/NFL_Mobile/2015Mobile_NFLN_2000k.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/de/thumb/1/12/National_Football_League_2008.svg/456px-National_Football_League_2008.svg.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Cartoon Network</string>
			<key>hlsURL</key>
			<string>http://54.255.155.24:1935//Live/_definst_/sweetbcha1novD28_W_150.sdp/playlist.m3u8</string>
			<key>imageURL</key>
			<string>https://upload.wikimedia.org/wikipedia/de/thumb/2/2b/CARTOON_NETWORK_logo2010.svg/640px-CARTOON_NETWORK_logo2010.svg.png</string>
		</dict>
	</array>
</dict>
</plist>
